# sample config
zmqpubrawblock=tcp://0.0.0.0:29000
zmqpubrawtx=tcp://0.0.0.0:29000
zmqpubhashtx=tcp://0.0.0.0:29000
zmqpubhashblock=tcp://0.0.0.0:29000

rpcuser=bitcoin
rpcpassword=local127
rpcallowip=192.168.0.0/16
rpcbind=0.0.0.0:8332
rpcworkqueue=8
